<div class="col-12 center-block input-group">
  <div class="p-5 col-md-2 col-sm-1 col-xs-0 "></div>
  <div class="border border-light p-5  col-md-8 col-sm-10 col-xs-12s">
    <!-- User name -->
    <label>What's your name?</label>
    <input type="text" [(ngModel)]="userName" class="form-control mb-4" placeholder="Write your name">
    <!-- User image -->
    <label>Paste an image url for your avatar</label>
    <input type="text" [(ngModel)]="userImageUrl" class="form-control mb-4" placeholder="example : https://png.icons8.com/search/96">
    <!-- Sign in button -->
    <div class="text-center">
      <button mdbBtn block="true" class="btn btn-primary" (click)="entryForum()">
        Enter
      </button>
    </div>
  </div>
</div>